:root {
    --red: #c80317;
    --brown: #21180f;
    --blue: #8fc8e3;
    --content-left-text-padding: 30px;
    --box-margin: 5px;
}

body {
    background-color: #525252;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}

img {
    max-height: 200px;
    display: block;
    margin: auto;
    padding-top: 15px;
}

a:link {
    color: var(--brown);
    text-decoration:none;
}

a:hover {
    color: var(--red);
}

a:visited {
    color: var(--brown);
}

.AllegroAncors > a:visited {
    color:white;
}

.AllegroAncors > a:link {
    color:white;
}

.AllegroAncors > a:hover {
    color: var(--red);
}

.FacebookLink > a:hover {
    color: var(--red);
}

.Container {
    display:grid;
    grid-template-columns: auto 450px 650px auto;
    height: 100%;
}
.SideBar {
    background-color: black;
}

.Menu {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 5% 60% 35%;
}

.LiteraCafe {
    grid-column: 1 / span 2;
    background-color: var(--brown);
}

.Content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 45% 30% 5% 10%;
}

.MergedSpans {
    grid-column: 1 / span 2;
}

.Title {
    color: var(--red);
    background-color: var(--brown);
    padding-top: 30px;
    padding-left: var(--content-left-text-padding);
    font-size: 35px;
}

.Address {
    color: var(--red);
    background-color: var(--brown);
    padding-left: var(--content-left-text-padding);
}

.Address p {
    margin-top: -10px; 
    font-size: 20px;
}

.InfoBuild {
    background-color: #525252;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 30% 20%;    
}

.InfoTopLeft {
    background-color: white;
    font-size: 15px;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    margin-top: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
}

.InfoTopLeft p {
    margin-bottom: -5px;
    padding-left: 10px;
    letter-spacing: 3px;
}

.InfoTopRight {
    background-color: var(--red);
    grid-column-start: 2;
    grid-row: 1 / span 2;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    margin-top: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
}

.InfoLeftBottom {
    background-color: var(--blue);
    grid-row: 2 / span 2;
    margin-right: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
}

.InfoRightBottom {
    grid-column-start: 2;
    background-color: white;
    margin-right: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
}


.Description {
    color: white;
    background-color: var(--brown);
    padding-left: var(--content-left-text-padding);
    margin-right: var(--box-margin);
}

.Description p {
    font-size: 35px;
    margin-bottom: -25px;
    font-weight: 600;
    letter-spacing: 9px;
    margin-right: var(--box-margin);
}

.ColorfulBoxes {
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    display: grid;
    grid-template-columns: 30% 50% 20%;
    box-shadow: 3px 3px 1px #363636;
}

.ColorfulBox1 {
    background-color: #f6d117;
    margin-right: 5px;
    box-shadow: 3px 3px 1px #363636;
}

.ColorfulBox2 {
    background-color: #0d85bd;
    margin-right: 5px;
    box-shadow: 3px 3px 1px #363636;
}

.ColorfulBox3 {
    background-color: white;
    box-shadow: 3px 3px 1px #363636;
}

.Mails {
    padding-left: var(--content-left-text-padding);   
    background-color: white;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    padding-top: 15px;
    box-shadow: 3px 3px 1px #363636;
}

.LeftMenuDown {
    background-color: var(--brown);
    font-size: 20px;
    color: white;
    padding-left: 15px;
    font-weight: 400;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    margin-left: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
}

.LeftMenuUp {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 13.5% 13.5% 13.5% 13.5% 16% 15%;
}

.ListaKontAllegro {
    background-color: white;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    line-height: 0.10em;
    padding-left: 20px;
}

.AllegroLiterowy {
    background-color: #ce2a29;
    margin-right: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    display: grid;
}

.InsideAllegroLiterowy {
    background-color: var(--brown);
    margin: 10px;
    margin-bottom: 0px;
    color: white;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 6px;
}

.AllegroBookowy {
    background-color: #ce2a29;
    margin-right: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    display: grid;
}

.InsideAllegroBookowy {
    background-color: var(--brown);
    margin: 10px;
    margin-bottom: 0px;
    color: white;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 6px;
}
.AllegroLitera {
    background-color: #ce2a29;
    margin-right: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    display: grid;
}

.InsideAllegroLitera {
    background-color: var(--brown);
    margin: 10px;
    margin-bottom: 0px;
    color:white;
    font-weight: 400;
    padding-left: 10px;
    padding-top:6px;
}

.AllegroOlimpia {
    background-color: #ce2a29;
    margin-right: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    display: grid;
}

.InsideAllegroOlimpia {
    background-color: var(--brown);
    margin: 10px;
    margin-bottom: 0px;
    color: white;
    font-weight: 400;
    font-size: 1em;
    padding-left: 10px;
    padding-top: 6px;
}

.AllegroArtBooks {
    background-color: #ce2a29;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    display: grid;
}

.InsideAllegroArtBooks {
    background-color: var(--brown);
    margin: 10px;
    color: white;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 6px;
}

.BlueBox {
    background-color: white;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    display: grid;
}

.InsideBlueBox {
    background-color: var(--blue);
    margin: 10px;
}

.RightMenuUp {
    display:grid;
    grid-template-rows: 50% 50% ;
}

.RightMenuDown {
    display:grid;
    grid-template-rows: 50% 50%;
}

.Logo {
    background-color: white;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
}

.StationaryAddress {
    background-color: white;
    padding-left: 15px;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    line-height: 0.25em;
}

.Hours {
    background-color: white;
    padding-left: 15px;
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    line-height: 0.3em;
    padding-top: 7px;
}

.HouseVisit {
    background-color: white;
    padding-left: 15px;
    color: var (--brown);
    margin-right: var(--box-margin);
    margin-bottom: var(--box-margin);
    box-shadow: 3px 3px 1px #363636;
    line-height: 0.95em;
}

.HouseVisit p {
    margin-bottom: -10px;
}

.LiteraCafe {
    display:grid;
}

.FacebookLink {
    background-color: var(--blue);
    margin: 10px;
    color: var(--brown);
    font-size: 0.75em;
    padding-top: 2px;
    text-align: center;
    font-weight: 600;
}