:root {
    --red: #a83939;
    --brown: #302519;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}
.Container {
    display:grid;
    grid-template-columns: auto 300px 500px auto;
    height: 100%;
}
.SideBar {
    background-color: black;
}

.Menu {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 5% 45% 50%;
    background-color: #525252;
}

.LiteraCafe {
    grid-column: 1 / span 2;
    background-color: var(--brown);
}

.Content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 40% 30% 5% 15%;
}

.MergedSpans {
    grid-column: 1 / span 2;
}

.Title {
    color: var(--red);
    background-color: var(--brown);
    padding-top: 30px;
    padding-left: 30px;
    font-size: 25px;
}

.Address {
    color: var(--red);
    background-color: var(--brown);
    padding-left: 30px;
}

.InfoBuild {
    background-color: #525252;
}

.Description {
    color: white;
    background-color: var(--brown);
}

.ColorfulBoxes {
    background-color: blue;
}

.Mails {}

.Address p {
    margin-top: -10px; 
}