body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.Container {
    display:grid;
    grid-template-columns: auto 300px 500px auto;
    height: 100%;
}
.SideBar {
    background-color: black;
}

.Menu {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 5% 45% 50%;
    background-color: #525252;
}

.LiteraCafe {
    grid-column: 1 / span 2;
    background-color: #302519;
}

.Content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 35% 30% 5% 15%;
}

.MergedSpans {
    grid-column: 1 / span 2;
}

.Title {
    background-color: #302519;
}

.Address {
    background-color: #302519;
}

.InfoBuild {
    background-color: #525252;
}

.Description {
    background-color: #302519;
}

.ColorfulBoxes {
    background-color: blue;
}

.Mails {}